* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  padding: 64px 0;
  position: relative;
}
.header__container {
  margin: 0 auto;
  max-width: 1790px;
  padding: 0 15px;
}
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .bgpicture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.header__content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__content-title {
  max-width: 75vw;
  margin: 0 auto;
  margin-top: 150px;
}
.header__content-title .uppertitle {
  color: rgb(251, 215, 132);
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 6px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  padding-left: 102px;
}
.header__content-title .uppertitle .uppertitleLine {
  width: 72px;
  height: 2px;
  background-color: rgb(251, 215, 132);
  position: absolute;
  top: 10px;
  left: 0;
}
.header__content-title .title {
  margin: 32px 0;
  color: rgb(255, 255, 255);
  font-family: Chronicle Display;
  font-size: 88px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.header__content-title .interactivebtn {
  color: rgb(255, 255, 255);
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
.header__content-title .interactivebtn:hover {
  cursor: pointer;
  color: rgb(251, 215, 132);
}
.header__content-title .interactivebtn img {
  padding-left: 10px;
}

.kindofnavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
}
.kindofnavigation li {
  color: rgb(255, 255, 255);
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.kindofnavigation li:hover {
  cursor: pointer;
  color: rgb(251, 215, 132);
}

.profile__btn {
  background-color: transparent;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 17px;
  line-height: 21px;
}
.profile__btn:hover {
  cursor: pointer;
  color: rgb(251, 215, 132);
}
.profile__btn img {
  margin-right: 10px;
}

.followus {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0 30px;
}
.followus:hover {
  cursor: pointer;
  color: rgb(251, 215, 132);
}

.navigation {
  text-align: right;
}
.navigation li {
  margin: 38px 0;
}
.navigation a {
  color: rgb(255, 255, 255);
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 20px 30px;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}
.navigation a:hover {
  cursor: pointer;
  color: rgb(251, 215, 132);
}
.navigation a.disable {
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}
.navigation a.active {
  border-right: 3px solid rgb(255, 255, 255);
}
.navigation a:hover {
  border-right: 3px solid rgb(251, 215, 132);
}